# Some String Operations
- String formatting
  - \+
  - %s, %d
  - format functions
  - f-Strings
- strip: Remove white spaces from the string
- split
- replace: replace all occurances in a string by a new one
- count: count the number of occurances of a string within a string

In [5]:
st = 'Hello'
print(st,type(st))

Hello <class 'str'>

In [6]:
l = list(st)
l

['H', 'e', 'l', 'l', 'o']

In [7]:
st[0],st[-1]

('H', 'o')

In [8]:
for ch in st:
    print(ch)

H
e
l
l
o

In [9]:
st[1:3]

'el'

In [15]:
s1 = "Hello"
s2 = 'Hello\nHello'

print(s2)
print(s1 is s2)

Hello
Hello
False

In [16]:
s1 = """ This
is a Multi
Line String
"""
print(s1)

 This
is a Multi
Line String

In [17]:
s1

' This\nis a Multi\nLine String\n'

In [11]:
st

'Hello'

In [18]:
s = 'Hello'
for i in range(0,len(s)):
    for j in range(i+1,len(s)+1):
        print(s[i:j])

H
He
Hel
Hell
Hello
e
el
ell
ello
l
ll
llo
l
lo
o

In [22]:
a = 'abc' + 'def'

s1 = 'abc'
s2 = 'def'

print(a)

abcdef

In [33]:
name = "Shubham"
age = 27

# print("My name is: " + name + ". My age is: " + str(age))

# print("My name is: %s. My age is: %d"%(name,age))

# print("My name is: {}. My age is: {}".format(name,age))

print(f"My name is: {name}. My age is: {age}")

My name is: Shubham. My age is: 27

In [13]:
print("My name is: {1}. My age is: {0}".format(name,age))

My name is: 27. My age is: Shubham

In [29]:
print("My name is: {a}. My age is: {n}".format(n = name,a = age))

My name is: 27. My age is: Shubham

In [37]:
s = "   The sky is Blue   "
print(s.strip())
print(s.lstrip())
print(s.rstrip())

The sky is Blue
The sky is Blue
   The sky is Blue

In [39]:
s = "heLlo Have a Nice Day"
s.capitalize()

'Hello have a nice day'

In [40]:
s.casefold()

'hello have a nice day'

In [46]:
s = "Hellollo"
s.count('lloo')

0

In [45]:
s[0] = 'A'

TypeError: 'str' object does not support item assignment

In [48]:
s.find('lloo')

-1

In [49]:
s.index('lloo')

ValueError: substring not found

In [57]:
s = "The sky is Blue"

In [59]:
l = s.split()
l

['The', 'sky', 'is', 'Blue']

In [60]:
s.title()

'The Sky Is Blue'

In [62]:
l = [str(i) for i in range(10)]

In [63]:
l

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [68]:
print('A'.join(l))

0A1A2A3A4A5A6A7A8A9

In [69]:
s

'The sky is Blue'

In [73]:
' '.join(s.split()[::-1])

'Blue is sky The'